<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  
  
  <!--配置错误处理页面  -->
  <error-page>
     <error-code>500</error-code>
     <location>/WebDemo/error2.jsp</location>  
  </error-page>
  <error-page>
     <error-code>404</error-code>
     <location>/error2.jsp</location>
  </error-page>
  <error-page>
     <exception-type>java.lang.NullPointerException</exception-type>
      <location>/error2.jsp</location>
  </error-page>
  <error-page>
     <exception-type>java.lang.ArithmeticException</exception-type>
     <location>/error2.jsp</location>
  </error-page>
  <!--安全约束  -->
 <security-constraint>
       <web-resource-collection>
           <web-resource-name>RegisterUsers</web-resource-name>
           <url-pattern>/WebDemo/security.jsp</url-pattern>
       </web-resource-collection>
       <auth-constraint>
          <role-name>zlmuser</role-name>
          <role-name>admin</role-name>
       </auth-constraint>
 </security-constraint>
  <login-config>
     <auth-method>BASIC</auth-method>
     <realm-name>Register User</realm-name>
  </login-config>
  <security-role>
      <role-name>zlmuser</role-name>
  </security-role>
  <security-role>
     <role-name>admin</role-name>
  </security-role>
</web-app>